<template>
  <div class="home">
    <TonightComponent />
    <WeeklyComponent />
  </div>
</template>

<script>
import TonightComponent from '../components/TonightComponent.vue'
import WeeklyComponent from '../components/WeeklyComponent.vue'

export default {
  name: 'HomeView',
  components: {
    TonightComponent,
    WeeklyComponent
  }
}
</script>

<style>

  
</style>