<template>
  <VenueComponent/>  
</template>

<script>
import VenueComponent from '../components/VenueComponent.vue'

export default {
  components: {
    VenueComponent
  }
}
</script>

<style>

</style>