<template>
    <div class="shows">
        <div v-for="show in shows" :key="show.id" class="show">
            <img :src="show.img"/>
            <router-link :to="{ name: 'venue', params: { id: show.id }}" class="content">
                <h4>{{ show.title }}</h4>
                <h4>w/ {{ show.dj }}</h4>
                <h4>{{ show.time }}</h4>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
    props: ['day'],
    data() {
        return {
            shows: []
        }
    },
    mounted() {
        fetch('http://localhost:3000/shows')
            .then(res => res.json())
            .then(data => data.map((show, key) => {
                if ((this.day in show.days)) {
                    this.shows.push(show);
                }
            }))
            .catch(err => console.log(err.message))
    }
}
</script>

<style scoped>
.shows {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.show {
    background-color: #1D3557;
    /* background-color: rgb(72, 187, 120); */
    border-radius: 5px;
    flex-basis: calc(33% - 8px);
    margin-bottom: 8px;
    margin-right: 8px;
    max-width: 300px;
    overflow: hidden;
    width: calc(33% - 8px);
}

.show img {
    display: block;
    height: 200px;
    -o-object-fit: cover;
        object-fit: cover;
    min-width: 100%;
}

a.content {
    color: #F1FAEE;
    text-decoration: none;
}

@media screen and (max-width: 670px) {
    .show {
        flex-basis: calc(50% - 8px);
        width: calc(50% - 8px);
    }
}

@media screen and (max-width: 485px) {
    .show {
        flex-basis: 100%;
        margin-right: 0;
        width: 100%;
    }
}
</style>