<template>
  <GoogleMap :api-key="apiKey" style="width: 100%; height: 500px" :center="this.venue.coords" :zoom="15">
    <Marker :options="{ position: this.venue.coords }"/>
    <InfoWindow :options="{ position: this.venue.coords, content: '<strong>' + this.venue.title + '</strong><br>' + this.venue.address }" />
  </GoogleMap>
</template>

<script>
import { defineComponent } from "vue";
import { GoogleMap, Marker, InfoWindow } from "vue3-google-map";

export default defineComponent({
  props: ['venue'],
  components: { GoogleMap, Marker, InfoWindow },
  data() {
      return {
          apiKey: 'AIzaSyA9TAHxhIhv9H5aEemO9t853cvx51gWF9E'
      }
  }
});
</script>

<style>

</style>