<template>
  <div v-if="shows.length">
    <agile :navButtons="false" :autoplay="true">
      <div v-for="show in shows" :key="show.id">
        <figure class="slide">
          <img :src="show.img" :alt="show.title"/>
          <figcaption><router-link :to="{ name: 'venue', params: { id: show.id }}">{{ show.title }} w/ {{ show.dj }} @ {{ show.time }}</router-link></figcaption>
        </figure>
      </div>
    </agile>
  </div>
</template>

<script>
import moment from 'moment';
import { VueAgile } from 'vue-agile'

export default {
  components: {
    agile: VueAgile
  },
  data() {
    return {
      today: moment(),
      shows: []
    }
  },
  mounted() {
      fetch('http://localhost:3000/shows')
        .then(res => res.json())
        .then(data => data.map((show, key) => {
          if ((this.today.format('dddd') in show.days)) {
              this.shows.push(show);
          }
        }))
        .catch(err => console.log(err.message))
  }
}
</script>

<style>
.agile__dots {
    bottom: 10px;
    flex-direction: column;
    right: 30px;
    position: absolute;
}

.agile__dot {
    margin: 5px 0;
}

.agile__dot button {
    background-color: transparent;
    border: 1px solid #F1FAEE;
    cursor: pointer;
    display: block;
    height: 10px;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition-duration: 0.3s;
    width: 10px;
}
.agile__dot--current button, .agile__dot:hover button {
    background-color: #F1FAEE;
}

figure.slide {
    margin: 0;
    position: relative;
}

.slide img {
    display: block;
    height: 600px;
    -o-object-fit: cover;
        object-fit: cover;
    width: 100%;
}

.slide figcaption {
    bottom: 34px;
    font-size: 1.8rem;
    left: 55px;
    position: absolute;
    text-shadow: 0 1px 2px #1D3557;
}

.slide figcaption a {
    color: #F1FAEE;
    text-decoration: none;
}
</style>