<template>
  <div class="venue">
      <div class="banner">
        <img :src="this.venue.img"/>
        <div class="details">
          <h1>{{ this.venue.title }} w/ {{ this.venue.dj }} @ {{ this.venue.time }}</h1>
          <h3>{{ this.venue.address }}</h3>
          <h3><a :href="this.venue.mapLink" target="_blank">Get Directions</a></h3>
          <h3>Karaoke every
            <span class="days" v-for="(value, day) in this.venue.days" :key="day">{{ day }}</span>
          </h3>
        </div>
      </div>
      <MapComponent :venue="this.venue"/>
  </div>
</template>

<script>
import MapComponent from './MapComponent.vue'

export default {
  props: [ 'id' ],
  components: {
    MapComponent
  },
  data() {
    return {
      venue: []
    }
  },
  mounted() {
      fetch('http://localhost:3000/shows')
        .then(res => res.json())
        .then(data => data.map((show, key) => {
          if (this.id == show.id) {
              this.venue = show
          }
        }))
        .catch(err => console.log(err.message))
  }
}
</script>

<style>
.banner {
  height: 420px;
  overflow: hidden;
  position: relative;
}

.banner img {
  left: 0;
  -o-object-fit: cover;
      object-fit: cover;
  /* opacity: 80%; */
  position: absolute;
  right: 100%;
  top: -50%;
  z-index: 0;
}

.banner .details {
  color: #ffffff;
  margin: 0;
  position: relative;
  text-shadow: 0 1px 4px rgba(29, 53, 87, 0.65);
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.banner:after {
  background-color: rgba(29, 53, 87, 0.56);
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.banner a {
  color: #A8DADC;
  text-decoration: none;
}

.days {
  padding-right: 13px;
  position: relative;
}

.days:after {
  content: ',';
  display: inline;
  right: 7px;
  position: absolute;
}

.days:last-child {
  padding: 0;
}

.days:last-child:after {
  display: none;
}
</style>