<template>
    <div class="weekly">
        <h1>Upcoming Shows</h1>
        <div v-if="shows.length">
            <div class="daily">
                <div class="heading">
                    <h2>{{ today.add(1, 'd').format("dddd MM/DD") }}</h2>
                </div>
                <DailyComponent :day="today.format('dddd')"/>
            </div>
            <div class="daily">
                <div class="heading">
                    <h2>{{ today.add(1, 'd').format("dddd MM/DD") }}</h2>
                </div>
                <DailyComponent :day="today.format('dddd')"/>
            </div>
            <div class="daily">
                <div class="heading">
                    <h2>{{ today.add(1, 'd').format("dddd MM/DD") }}</h2>
                </div>
                <DailyComponent :day="today.format('dddd')"/>
            </div>
            <div class="daily">
                <div class="heading">
                    <h2>{{ today.add(1, 'd').format("dddd MM/DD") }}</h2>
                </div>
                <DailyComponent :day="today.format('dddd')"/>
            </div>
            <div class="daily">
                <div class="heading">
                    <h2>{{ today.add(1, 'd').format("dddd MM/DD") }}</h2>
                </div>
                <DailyComponent :day="today.format('dddd')"/>
            </div>
            <div class="daily">
                <div class="heading">
                    <h2>{{ today.add(1, 'd').format("dddd MM/DD") }}</h2>
                </div>
                <DailyComponent :day="today.format('dddd')"/>
            </div>
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import DailyComponent from './DailyComponent.vue';

export default {
  components: {
      DailyComponent
  },
  data() {
    return {
      today: moment(),
      shows: []
    }
  },
  mounted() {
      fetch('http://localhost:3000/shows')
        .then(res => res.json())
        .then(data => this.shows = data)
        .catch(err => console.log(err.message))
  }
}
</script>

<style>
.weekly {
    margin: 0px auto;
    max-width: 900px;
    padding: 34px 21px 55px 21px;
}

.weekly h1 {
    text-transform: uppercase;
}

.daily {
    border-radius: 5px;
    margin: 0px auto 13px auto;
}

.daily:first-child {
    margin-top: 34px;
}

.daily:last-child {
    margin-bottom: 0;
}

.daily .heading {
    color: #1D3557;
    display: inline-block;
    margin-bottom: 21px;
    margin-top: 34px;
    padding: 5px 34px;
    text-align: center;
    text-transform: uppercase;
}
</style>