<template>
  <header class="site-header">
    <div class="logo">
      <img src="./assets/microphone-logo.png" alt="Microphone logo">
      <h3>Karaoke Calendar</h3>
    </div>
    <nav class="menu">
      <router-link to="/">Home</router-link>
      <router-link to="/about">About</router-link>
    </nav>
  </header>
  <router-view/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #1D3557;
  margin: 0 auto;
}

.site-header {
  align-items: center;
  background-color: #F1FAEE;
  display: flex;
  justify-content: space-between;
  padding: 0px 21px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo img {
  margin-right: 13px;
  max-width: 21px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.menu a {
  color: #1D3557;
  font-weight: bold;
  margin-right: 13px;
  padding: 8px 0px;
  text-decoration: none;
}

.menu a:last-of-type {
  margin-right: 8px;
}

.menu a.router-link-exact-active {
  border-bottom: 4px solid #E63946;
}
</style>
